<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Halaman Dashboard Sekolah</h1>
    {% for object in object_list %}
    <li>
        {{object.username}}
        <a href="{% url 'detailView' object.id %}">Detail</a>
        <form method="POST" action="{% url 'deleteView' object.id %}">
            {% csrf_token %}<input type="submit" value="DELETE">
        </form>
        <!-- <a href="{% url 'deleteView' object.id %}">Delete</a> -->
    </li>
    {% endfor %}
    <div>
        <a href="{% url 'createView' %}">Create User</a>
        <a href="{% url 'welcome' %}">Home</a>
    </div>
</body>

</html>