<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Halaman {{page_title}}</h1>
    {% for object in object_list %}
    <li> {{object.id_user.username}}</li>
    <li> {{object.nip}}</li>
    {% endfor %}
    <div>
        <a href="{% url 'welcome' %}">Back</a>
        <a href="{% url 'userView' %}">List User</a>
        <a href="{% url 'guruView' %}">List Guru</a>
        <a href="{% url 'logoutView' %}">Logout</a>
    </div>
</body>
</html>